body, html {
    scroll-behavior: smooth;
}

/* Firefox */
html {scrollbar-width: 10px; height: 10px; scrollbar-color: #9FC1E4 #f1f1f1;}
/* Opera */
html::-o-scrollbar {width: 10px; height: 10px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #9FC1E4; border-radius: 5px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 10px; height: 10px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #9FC1E4; border-radius: 5px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #555;}

header, footer {
    max-width: 800px;
    min-width: 320px;
    margin: 0 auto;
    /* background-color: rgb(255, 255, 255, 85%); */
}

/* left right */
.leftBox, .rightBox {
    position: fixed;
    width: calc((100% - 800px) / 2);
    height: 100vh;
    top: 0;
    z-index: 990;
}
.leftBox {
    /* background: #9FC1E4 no-repeat top right / cover; */
    right: calc(50% + 400px);
    /* left: 0; */
}
.rightBox {
    /* background: #9FC1E4 no-repeat top left / cover; */
    left: calc(50% + 400px);
    /* right: 0; */
}

/* popup */
#popup {
    width: 35px; height: 35px;
    position: fixed;
    bottom: 30px; right: 30px;
    z-index: 900;
}
#popup a {}
#popup a img {width: 100%;}

/* header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 20px;
    z-index: 800;
}
header .header_t {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
header .header_t h1 {
    width: 146px;
    height: 30px;
    z-index: 700;
}
header .header_t h1 a {
    background-color: aqua;
    text-indent: -9999px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/logo/logo_jw1.svg);
    display: inline-block;
    width: 100%;
    height: 100%;
}
header .header_t .m_nav {
    width: 30px; height: 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: aquamarine;
    z-index: 700;
}
header .header_t .m_nav span {
    width: 100%; height: 3px;
    border-radius: 1.5px;
    background: #fff;
    /* transition: all 0.3s; */
}
header .header_t .m_nav span:nth-child(1) {}
header .header_t .m_nav span:nth-child(2) {}
header .header_t .m_nav span:nth-child(3) {}
header .nav_open {
    background: linear-gradient(115deg, rgba(159,193,228,0.85) 0%, rgba(149,211,206,1) 100%);
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    padding: 0 20px;
    height: 100vh;
    z-index: 650;
    transform: translateX(100%);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
header .nav_open .nav_wrap {
    margin-top: 60px;
}
header .nav_open .nav_wrap li {}
header .nav_open .nav_wrap li a {
    display: block;
    padding: 15px 0;
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}
header .sns {
    padding: 20px 0;
    display: flex;
    flex-flow: row nowrap;
}
header .sns a {
    background-color: #000;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin-right: 12px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
header .sns a img {
    width: 30px;
    height: 30px;
}

/* footer */
footer {padding: 30px 0;}
footer .sns {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
footer .sns a {
    margin-right: 20px;
    margin-bottom: 15px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
footer .sns a:nth-child(1) {background-image: url(../images/logo/logo_fromm_b.svg);}
footer .sns a:nth-child(2) {background-image: url(../images/logo/logo_youtube_b.svg);}
footer .sns a:nth-child(3) {background-image: url(../images/logo/logo_instagram_b.svg);}
footer .sns a:nth-child(4) {background-image: url(../images/logo/logo_x_b.svg);}
footer .sns a:nth-child(5) {background-image: url(../images/logo/logo_tiktok_b.svg); margin-right: 0;}
footer p {color: #aaa; text-align: center;}